<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="currentPage='Статистика по использованию сервисов'">
<head th:include="fragments/common-head">
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h3>Статистика по использованию сервисов</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Время работы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name} + ' ms'"></td>
            <td th:text="${item.workTime} + ' ms'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
