<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Вы не успели подтвердить регистрацию</title>
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2>Вы не успели подтвердить регистрацию</h2>
            <h2>Вам отправлено повторное письмо для подтверждения</h2>
        </div>
    </div>
</div>
</body>
</html>
