<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="currentPage='Продукты из категории'">
<head th:include="fragments/common-head">
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h2 th:text="${title}"></h2>
    <div class="row">
        <div th:each="product : ${products}" class="col-12 col-sm-6 col-md-3 mb-1">
            <div class="card shadow h-100">
                <img class="card-body card-img-top" th:src="@{${product.imageUrl}}" src="..." alt="Product info">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a class="link-dark" th:href="@{${'/info/' + product.id}}" th:text="${product.title}">Подробнее</a>
                    </h5>
                    <p th:text="${product.category.title}" class="card-text">Категория</p>
                    <p th:text="${product.price}" class="card-text mt-auto">Цена</p>
                </div>
                <button th:attr="data-product-id=${product.id}" class="btn btn-success w-100" onclick="onClickAddToCart(this)">
                    В корзину
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
