<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="currentPage='О нас'">
<head th:include="fragments/common-head">
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2>О нас</h2>
            <p>Мы работаем и совершенствуемся для вас. Тщательно отбираем лучшие товары и помогаем сделать правильный выбор.</p>
            <p>
                Розничная сеть «GeekMarket» — одна из крупнейших розничных сетей по объёмам продаж электроники и бытовой техники в России.
                «GeekMarket» осуществляет свою деятельность с 1993 года и является первой на российском рынке сетью,
                реализовавшей полноценный омниканальный подход к продажам — это единый ассортимент, цена и сервис как при покупке в магазинах,
                так и онлайн. Ритейлер предлагает своим покупателям несколько десятков тысяч наименований аудио/видео и цифровой техники,
                мелкой и крупной бытовой техники, медиатоваров, а также аксессуаров. Магазины «GeekMarket» имеют единый формат и специальную концепцию дизайна.
                Помимо эффективного формата розничной торговли и ориентированной на покупателя концепции магазина
                компания предлагает клиентам высококлассную сервисную поддержку под брендом «Geek.Сервис».
                Эксперты «Geek.Кредит» помогут быстро заполнить анкету и получить одобрение сразу от нескольких банков-партнёров.
            </p>
        </div>
    </div>
</div>
</body>
</html>