<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="currentPage='Оформление заказа'">
<head th:include="fragments/common-head">
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2>Оформление заказа с ранее указанными контактами</h2>
            <div th:if="${illegalStateException}" th:text="${illegalStateException.getMessage()}" class="alert alert-danger"></div>
            <form method="post" th:action="@{/order/next}" class="col-md-6">
                <button type="submit" class="btn btn-primary" >Заказать</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>